
pre
{
    font-size: 25px;

}
h1{
    color: rgb(193, 88, 39);
    text-align: center;
    font-size: 60px;
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
img{
    margin-left: 550px;
}
.footer{
    background-color:black;
    padding: 70px 0;
}
.footer-col{
      width: 25%;
      padding: 0 15px;
}
.footer-col h4{
    font-size: 18Px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;


}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
     display: inline-block;
     width: 40px;
     height: 40px;
     background-color: rgb(255,255,255,0.2);
     margin: 0 10 10 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
nav{
    background-color: black;
    width: 100%;
    min-width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-around;
     margin: auto;
    }
nav a{
position: relative;
text-decoration: none;
font-size: 30px;
font-family: sans-serif;
text-transform: capitalize;

color: white;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transtion: 0.3s;
-o-transition: 0.3s;
padding: 0 10px;
margin-bottom: 50px;
}

nav a::before{
content: '';
position: absolute;
left: 0;
height: 3px;
width: 0;
background-color: #367cff;
bottom: -7px;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transtion: 0.3s;
-o-transition: 0.3s;
}
a:hover{
    color: rgb(193, 88, 39);
}
a:hover::before{
    width: 100%;
}
aside a:host
{
    color :black;
    font-size: 50px;
    width:300;
    text-decoration: none;
}
aside a
{
    color : rgb(193, 88, 39);
    font-size: 50px;
    width:300;
    text-decoration: none;
}
aside a:visited
{
    color : rgb(193, 88, 39);;
    font-size: 50px;
    width:300;
    text-decoration: none;
}

aside a::before
{
    color :  rgb(193, 88, 39);;
    font-size: 50px;
    width:300;
    text-decoration: none;
    
}
aside {
    width: 20%;
    padding-left: 0;
    float: left;
    border: solid rgb(193, 88, 39);
    border: 20px;;
    background-color:black ;
    font-size: 50px;
    color: rgb(193, 88, 39);;
    
}

aside > pre {
    margin: .5rem;
}

.iteams
{
    
  display: grid;
  grid-template-columns:repeat(1,1fr) ;
  padding: 30px 20px;
  grid-row-gap: 30px;
  margin-left: 500px;
  margin-top: 0px;
  column-gap: 20px;
  
}
.iteam img
{
    object-fit: cover;
    cursor: pointer;
    margin-left: 500px;

}
.iteam pre
{
    font-size: 25px;
    display: none;
}
.iteam h2
{ 
    font-size: 50px;
    color: black;
    margin-left: 540px;
}

.iteams
{
    
  display: grid;
  grid-template-columns:repeat(1,1fr) ;
  padding: 30px 20px;
  grid-row-gap: 30px;
  margin-left: 500px;
  margin-top: 0px;
  column-gap: 20px;
  
}
button
{
    font-size: 30px;
    border: none;
    background: rgb(193, 88, 39);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   display: inline-block;
    border-radius: 12px;
     cursor: pointer;

}